*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background: linear-gradient(120deg,#f0f0f0,#a9a8a8);
}

.container {
  width: 500px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  background: linear-gradient(180deg,#c7c7c7,#747474);;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  backdrop-filter: blur(15px);
}

h1 {
  color: #000000;
  text-align: left;
  margin-bottom: 36px;
  margin-left: 50px;
  font-weight: 600;
}

.img{
  top: 27px;
  position: absolute;
  left: 35px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-input {
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: transparent;
  border: 2px solid #000000a1;
  border-radius: 30px;
  color: #000000;
  font-size: 16px;
  margin-right: 10px;
}

.todo-input::placeholder {
  color: #000000;
} 

.add-button {
  border: none;
  outline: none;
  background: #000000a1;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.empty-image {
  margin: 55px auto 0;
  display: block;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffffa1;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid #505050a1;
  transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo:hover {
  background-color:#c7c7c7;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: -3px;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid #000000a1;
  
}

input[type='checkbox'] {
  visibility: hidden;
}

.todo:hover input:checked + span::before, input:checked + span::before {
  background: #09bb21;
  border-color: #090909;
}

.todo:hover span::before {
  border-color: #080808;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000000;
  font-size: 24px;
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: rgb(247, 247, 247);
  border-radius: 20px
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: #d5d5d5;
  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.filter {
  color: #000000;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid #000000a1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.filter.active, .filter:hover {
  background-color: #ffffffa1;
}

.delete-all {
  display: flex;
  color: #000000;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-all:hover {
  border-radius: 5px;
  background-color: #ffffffa1;
}
